@font-face {
    font-family: "Karma";
    src: url("/fonts/Karma/Karma-Future.otf") format("opentype");
}

.wheel-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 280px;

    font-family: "Karma", serif;

    color: rgb(255, 255, 255);
}

.wheel {
    position: relative;

    width: 150px;
    height: 150px;

    border-radius: 50%;

    overflow: hidden;

    border: 5px solid rgb(29, 29, 28);

    background: conic-gradient(
        rgb(215, 184, 27) 0deg 60deg,
        rgb(54, 255, 128) 60deg 120deg,
        rgb(246, 92, 236) 120deg 180deg,
        rgb(87, 52, 22) 180deg 240deg,
        rgb(25, 67, 11) 240deg 300deg,
        rgb(33, 37, 100) 300deg 360deg
    );

    box-shadow:
        0 0 10px rgba(116, 98, 9, 0.5),
        0 0 30px rgba(249, 208, 2, 0.2);

    cursor: pointer;

    animation: none;
}

.wheel-center {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #e9c6ed;

    border: 3px solid rgb(251, 247, 247);

    font-size: 28px;

    z-index: 5;
}

.wheel:hover {
    animation: spin-wheel 1s linear infinite;
}

@keyframes spin-wheel {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.wheel-title {
    margin: 15px 0 0;

    font-size: 34px;

    color: rgb(7, 6, 1);

    letter-spacing: 0.1em;

    text-shadow:
        0 0 5px rgba(226, 226, 223, 0.7);
}
